<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimmy.degreesbatch.Mapper.BoxOfficeMapper">

    <insert id="insertBoxOffice" parameterType="com.jimmy.degreesbatch.Model.BoxOfficeDto">
        INSERT INTO boxoffices (PERFORMANCEID,
                                RANKING,
                                TITLE,
                                GENRE,
                                POSTER,
                                PLACE,
                                AREA,
                                SEAT,
                                START_DATE,
                                END_DATE)
        VALUES (#{mt20id},
                #{rnum},
                SUBSTRING_INDEX(#{prfnm}, IF(LOCATE('[', #{prfnm}), '[', '('), 1),
                #{cate},
                CONCAT('https://kopis.or.kr', #{poster}),
                #{prfplcnm},
                #{area},
                #{seatcnt},
                SUBSTRING_INDEX(#{prfpd}, '~', 1),
                SUBSTRING_INDEX(#{prfpd}, '~', -1))
    </insert>

    <delete id="deleteBoxOffice">
        DELETE
        FROM boxoffices
    </delete>

</mapper>