<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimmy.degreesbatch.Mapper.CrewMapper">

    <insert id="insertCrew" parameterType="String">
        INSERT INTO crews(PERFORMANCEID,
                          CREW)
        VALUES (#{performanceId},
                REPLACE(REPLACE(LTRIM(#{crew}), ' 등', ''), ' 외', ''))
    </insert>

    <delete id="deleteCrew">
        DELETE
        FROM crews
    </delete>

</mapper>