<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimmy.degreesbatch.Mapper.PerformanceMapper">
    <select id="findById" resultType="com.jimmy.degreesbatch.Model.PerformanceDto">
        SELECT *
        from performances
    </select>

    <select id="selectDistinctFC" resultType="String">
        SELECT DISTINCT (FACILITYID)
        from performances
    </select>

    <insert id="insertPerformance" parameterType="com.jimmy.degreesbatch.Model.PerformanceDetailDto">
        INSERT INTO performances(PERFORMANCEID,
                                 FACILITYID,
                                 TITLE,
                                 START_DATE,
                                 END_DATE,
                                 PLACE,
                                 RUNTIME,
                                 RATING,
                                 POSTER,
                                 STORY,
                                 GENRE,
                                 STATE,
                                 OPENRUN)
        VALUES (#{mt20id},
                #{mt10id},
                SUBSTRING_INDEX(#{prfnm}, IF(LOCATE('[', #{prfnm}), '[', '('), 1),
                REPLACE(#{prfpdfrom}, '.', '-'),
                REPLACE(#{prfpdto}, '.', '-'),
                SUBSTRING_INDEX(#{fcltynm}, IF(LOCATE('[', #{fcltynm}), '[', '('), 1),
                #{prfruntime},
                #{prfage},
                #{poster},
                #{sty},
                (SELECT CASE
                            WHEN #{genrenm} = '연극' THEN 'AAAA'
                            WHEN #{genrenm} = '뮤지컬' THEN 'AAAB'
                            WHEN #{genrenm} = '무용' THEN 'BBBA'
                            WHEN #{genrenm} = '클래식' THEN 'CCCA'
                            WHEN #{genrenm} = '오페라' THEN 'CCCB'
                            WHEN #{genrenm} = '국악' THEN 'CCCC'
                            WHEN #{genrenm} = '복합' THEN 'EEEA'
                            ELSE 'XXXX'
                            END),
                (SELECT CASE
                            WHEN #{prfstate} = '공연완료' THEN 'DONE'
                            WHEN #{prfstate} = '공연중' THEN 'ONGOING'
                            ELSE 'UNKNOWN'
                            END),
                #{openrun})
    </insert>

    <delete id="deletePerformance">
        DELETE
        FROM performances
    </delete>

</mapper>