<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimmy.degreesbatch.Mapper.PerformanceMapper">
    <select id="findById" resultType="com.jimmy.degreesbatch.Model.PerformanceDto">
        SELECT *
        from performances
    </select>

    <select id="selectDistinctFC" resultType="String">
        SELECT DISTINCT (FACILITY_ID)
        from performances
    </select>

    <insert id="insertPerformance" parameterType="com.jimmy.degreesbatch.Model.PerformanceDetailDto">
        INSERT INTO performances(PERFORMANCE_ID,
                                FACILITY_ID,
                                TITLE,
                                START_DATE,
                                END_DATE,
                                PLACE,
                                ACTOR,
                                CREW,
                                RUNTIME,
                                RATING,
                                PRODUCER,
                                PRICE,
                                POSTER,
                                STORY,
                                GENRE,
                                STATE,
                                OPENRUN,
                                PERFORMANCE_SCHEDULE)
        VALUES (#{mt20id},
                #{mt10id},
                SUBSTRING_INDEX(#{prfnm}, IF(LOCATE('[', #{prfnm}), '[', '('), 1),
                #{prfpdfrom},
                #{prfpdto},
                SUBSTRING_INDEX(#{fcltynm}, IF(LOCATE('[', #{fcltynm}), '[', '('), 1),
                #{prfcast},
                #{prfcrew},
                #{prfruntime},
                #{prfage},
                SUBSTRING_INDEX(#{entrpsnm},IF(LOCATE('[', #{fcltynm}), '[', '('), 1),
                #{pcseguidance},
                #{poster},
                #{sty},
                #{genrenm},
                #{prfstate},
                #{openrun},
                #{dtguidance})
    </insert>

    <delete id="deletePerformance">
        DELETE
        FROM performances
    </delete>

</mapper>