<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimmy.degreesbatch.Mapper.PriceMapper">

    <insert id="insertPrice" parameterType="String">
        INSERT INTO prices(PERFORMANCEID,
                           PRICE)
        VALUES (#{performanceId},
                #{price})
    </insert>

    <delete id="deletePrice">
        DELETE
        FROM prices
    </delete>

</mapper>