<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jimmy.degreesbatch.Mapper.ProducerMapper">

    <insert id="insertProducer" parameterType="String">
        INSERT INTO producers(PERFORMANCEID,
                              producers)
        VALUES (#{performanceId},
                SUBSTRING_INDEX(LTRIM(#{producer}),'(', 2))

    </insert>

    <delete id="deleteProducer">
        DELETE
        FROM producers
    </delete>

</mapper>